*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#e05914;
    --secondary-color:#141414;
}

body{
   font-family:  'Baloo 2',cursive;
   background: #000;
   color: #999;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    color: #fff;
}
a{
    color:#fff;
    text-decoration:none;
}

p{
    margin:0.5rem 0;
}
.showcase-bottom{
    border: 3px solid white;
}
img{
    width: 100%;
    
}
.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("../img/background-3.png") no-repeat center center/cover;
}

.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;
}
.showcase-top img{
    width:120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}
.showcase-bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 6rem;
    z-index: 2;
}
.showcase-bottom h1{
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 1.5rem;
    text-transform: uppercase;
}

.showcase-bottom p{
    font-size: 2rem;
    color: #fff;
    font-weight: 450;
    margin: 0 0 2rem;
}
.showcase::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 50px 50px 150px #000000,inset -50px -50px 150px #000000;
}

.tabs{
    background: var(--secondary-color);
    padding-top: 1rem;
    border-bottom:3px solid  #3d3d3d;
}

.tabs .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	max-width: 70%;
	margin: auto;
	overflow:hidden;
	padding: 0 2rem;
}


/* Button utilities */
.btn{
    background: var(--primary-color);
    border: none;
    margin-right: 0.5rem;
    outline: none;
    display: inline-block;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    cursor:pointer;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.8;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform:uppercase;
}

.btn-lg{
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform:uppercase;
}